<!DOCTYPE html>
<html lang="ar">
<head>
<meta name="viewport" content="width={{page_width}}pt, initial-scale=0">
<link href="static/normalize.css" rel="stylesheet">
<link href="static/spectre.css" rel="stylesheet">
<style>
{% set font_dir = main_font_name|replace({' ': ''}) %}
@font-face {
  font-family: '{{main_font_name}}';
  src: url('fonts/{{font_dir}}/Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: '{{main_font_name}}';
  src: url('fonts/{{font_dir}}/Bold.ttf') format('truetype');
  font-weight: bold;
}

body {
    background-color: {{page_color}};
    width: {{page_width}}pt;
    font-family: '{{main_font_name}}';
}
</style>
</head>
<body>
<h1>Titre Français</h1>
<p>La somme totale</p>
<p style="font-weight: bold">TVA</p>
<p><img src="icons/loaded.svg"/></p>
<h1>عنوان عربي</h1>
<p>المجموع الكلي</p>
<p style="font-weight: bold">القيمة المضافة</p>
<h1>simple Table</h1>
<table class="table">
    <thead>
    <tr>
        <th>name</th>
        <th>genre</th>
        <th>release date</th>
    </tr>
    </thead>
    <tbody>
    <tr class="active">
        <td>The Shawshank Redemption</td>
        <td>Crime, Drama</td>
        <td>14 October 1994</td>
    </tr>
    </tbody>
</table>

<h1>Striped table</h1>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>name</th>
        <th>genre</th>
        <th>release date</th>
    </tr>
    </thead>
    <tbody>
    <tr class="active">
        <td>The Shawshank Redemption</td>
        <td>Crime, Drama</td>
        <td>14 October 1994</td>
    </tr>
    </tbody>
</table>

<h1>simple flexbox grid</h1>
<div class="container">
    <div class="columns">
        <div class="column col-6">col-6</div>
        <div class="column col-3">col-3</div>
        <div class="column col-2">col-2</div>
        <div class="column col-1">col-1</div>
    </div>
</div>

<h1>flexbox grid with gapless columns</h1>
<div class="columns col-gapless">
    <div class="column col-6">col-6</div>
    <div class="column col-6">col-6</div>
</div>

<h1>nested grid</h1>
<!-- grid nesting example -->
<div class="container">
    <div class="columns">
        <div class="column col-6">col-6
            <div class="columns">
                <div class="column col-6">col-6</div>
                <div class="column col-6">col-6</div>
            </div>
        </div>
        <div class="column col-6">col-6</div>
    </div>
</div>

<h1>offset grid</h1>
<!-- grid offset example -->
<div class="container">
    <div class="columns">
        <div class="column col-4 col-mr-auto">col-4 col-mr-auto</div>
        <div class="column col-2">col-2</div>
    </div>
</div>

<h1>Auto width column</h1>
<!-- auto width column example -->
<div class="container">
    <div class="columns">
        <div class="column col-auto">col-auto</div>
        <div class="column">col</div>
    </div>
</div>

<div class="container">
    <div class="columns">
        <div class="column col-lg-auto col-6">col-lg-auto</div>
        <div class="column">col</div>
    </div>
</div>

<h1>Hero title</h1>
<div class="hero bg-gray">
    <div class="hero-body">
        <h1>Hero title</h1>
        <p>This is a hero example</p>
    </div>
</div>
</body>
</html>